<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}'s Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Name: {{name}}</p>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
    <button>Logout</button>
</body>
</html>